* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: #cdbbff;
}
body {
  display: grid;
  grid-template-columns: 12vw 1fr;

  grid-auto-flow: column;
  grid-auto-columns: auto;
}
.sidebarLefContainer {
  position: relative;
  justify-self: self-start;

  /* overflow: scroll; */
  overflow-x: scroll;
  grid-column-start: 1;
  /* max-width: 130px; */
  height: 100%;
  background-color: blueviolet;
  display: grid;
  /* grid-template-columns: 1fr 30px; */
  grid-template: 100px 100px 100px 100px /12vw;

  /* grid-auto-flow: row; */
  transition: all 1s;
}
.girar_to_right {
  transform: rotate(180deg);
}

.left svg {
  width: 70px;
  height: 150px;
  /* margin: 10px; */
  cursor: pointer;
}
/* .right svg {
  cursor: pointer;
borrado porque decidi mover
a primero la flecha en sidebar
  width: 30px;
  margin: 10px;
} */
.main {
  background-image: url("./team-cyberpunk-girl-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  /* width: 100%; */
  /* grid-area: 6/2/6/2; */
  /* margin-left: 100px; */
  /* justify-self: center;
  align-self: center; */
  /* position: fixed;
  bottom: -70px;
  margin-left: 200px; */
}
#main img {
  width: 800px;
}
.childrenSidebarLef {
  display: flex;
  flex-flow: row wrap;
  place-content: start space-between;
  cursor: pointer;
}
.childrenSidebarLef .name_of_section {
  text-align: center;
  align-self: center;
  text-transform: uppercase;
  color: white;
  font-family: "hacked";
  font-size: 4vw;
}
.childrenSidebarLef:hover {
  background-color: rgba(255, 255, 255, 0.45);
}
.oculto {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
